body {
    background-color: #f1eed9;
    font-family: 'Markazi Text', 'serif';
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style: none;
    text-align: center;
    font-size: 3rem;
}

nav li {
    display: inline-block;
}

section {
    display: flex;
}

article {
    flex: 1;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}